body { background-color: #ddd; color: #333; width: 960px; margin: 0 auto;}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0px;
	visibility: hidden;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#footer {
	background-color: #800;
	color: #fff;
	border-top: 1px solid #fff;
	padding: 10px;
}

#header {
	background-color: #00c;
	-moz-box-shadow: 0px 3px 3px #666;
	margin-bottom: 10px;
}

#header h1 {
	margin:0;
	padding: 10px;
	color: #ddf;
	float: left;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

#menu {
	float: right;
	list-style: none;
	margin: 18px 10px 0px;
}

#menu li {
	float: left;
}

#menu li a:link,
#menu li a:visited,
#menu li a:hover,
#menu li a:active {
	color: #DDF;
	font-weight: bold;
	text-decoration: none;
  padding: 10px;
}

#menu li a:hover {
	color: #00c;
	background: #DDF;
	-moz-border-radius: 3px;
	-moz-box-shadow: inset 0px 0px 3px #333;
}


#content {
	min-height: 400px;
	background-color: #fff;
	padding: 10px;
	}

#content h2 {
  margin-top:0px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#sessoes {
	list-style: none;
	border: 1px dotted #CCC;
	padding: 0px;
}

#sessoes li:nth-child(odd) {
  background: #DCDCDC;
}

#sessoes li a:link,
#sessoes li a:visited,
#sessoes li a:hover,
#sessoes li a:active {
  padding: 6px;
  text-decoration: none;
  display: block;
}

#sessoes li a:hover {
	background: #696969;
}

.label {
	font-weight: bold;
  display: inline-block;
  width: 170px;
}

#content form {
  background: #DCDCDC;
  margin-top: 50px;
  padding: 10px;
}

#content form h3 {
  float: left;
  margin: 2px 20px 0px 0px;
}

#content h1,
#content h2 {
	text-shadow: 1px 1px 2px #999;
}

#message {
	-moz-box-shadow: 1px 1px 1px rgba(0, 51, 0, 0.25);
    background: none repeat scroll 0 0 #DDFFDD;
    border: 1px solid #339933;
    color: #339933;
    margin-bottom: 5px;
    padding: 5px;
}

#errors {
	-moz-box-shadow: 1px 1px 1px rgba(51, 0, 0, 0.25);
    background: none repeat scroll 0 0 #FDD;
    border: 1px solid #933;
    color: #933;
    margin-bottom: 5px;
    padding: 5px;
    list-style: none;
}

#addForm input, #addForm select {
	display: block;
}

#content #addForm {
	margin-top: 0px;
	width: 400px
}

#addForm label {
	display: block;
	margin-top: 10px;
}

#addForm input[type=submit] {
  margin-top: 15px;
}


table {
	border: 1px dotted #d5d5d5;
	}
table caption {
font: bold 18px verdana, arial, helvetica, sans-serif;
margin: 15px 0px;
text-shadow:  1px 1px 2px #999;
}

thead {
text-align:left;
}

colgroup col:nth-child(odd) {
  background: #F5F5F5;
}

tbody tr:nth-child(odd) {
  background: rgba(204,204,204,0.3);
}

td, th {
	padding: 5px;
}